/* Write your CSS here */
.default-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Roboto';
  font-size: 26px;
  color: #475569;
}
.container-yet-to-registered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-image {
  height: 250px;
}
.description-yet-register {
  font-family: 'Roboto';
  color: #475569;
}
.crad-yet-to-register {
  text-align: center;
}
.buttn-register {
  font-family: 'Roboto';
  color: #f8fafc;
  padding: 5px;
  border-width: 0px;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  background-color: #0967d2;
}
.heading-yet-registered-alredy{
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 600;
  color:  #323f4b;
}